.bg-light {
    background-color: #393e44 !important;
}


.form-control {
    display: initial !important;
    width: 80% !important;

}

.col-8{
    padding-left: inherit !important;
}
.topicFieldIdWidth{
    width: 98% !important;
}

.widgetTextbox {
    width: 100% !important;
    margin-bottom: 18px !important;
}

.heading {
    display: initial !important;
}

.widgetTypeDropDown {
    display: initial !important;
    width: 15% !important;
    padding: 0px !important;
    height: 38px !important;

}

.btnMargin {
    margin-right: 8px !important;
}

.navtabCss {
    padding-left: 15px!important;
    border-bottom-color: #343a40 !important;
    padding-top: 2rem !important;
}
@media (min-width: 600px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}



@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 6;
        -moz-column-count: 6;
        column-count: 6;
    }
}